@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
      @apply bg-slate-900 text-white ;
      @apply min-h-screen;
    }
  }

@layer components{
  .input-field{
    @apply p-2 mb-4 border border-gray-200 focus:border-gray-700 focus:outline-none rounded-lg text-black ;
  }
}